/** Ellipse Blurs */
.blur {
    position: absolute;
    width: 160px;
    height: 160px;
    background-color: #3EEAF5;
    border-radius: 50%;
    filter: blur(150px); /* Adjust the blur radius */
    z-index: 10;
  }
  
  .top-center {
    top: 0;
    left: 35%;
    margin-top: -160px;
  }
  
  .top-right {
    top: 20%;
    right: 0;
    margin-right: -150px;
  }
  
  .bottom-left {
    bottom: 15%;
    left: 15%;
   
  }
  
  .bottom-right {
    bottom: 0;
    right: 0;
    
    margin-bottom: -200px;
  }